<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Canciones</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <nav class="navbar navbar-expand-md bg-info navbar-info">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Cancion Management System</a>
    
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/perfil">Perfil Management</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/playlist">Playlist Management</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/cancion">Canción Management</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/artista">Artista Management</a>
            </li>
            
        </ul>
        </div>
    </nav>
    
        <div class ="container">
            <div class = "row">
                <h1> Canciones </h1>
            </div>
            
            <div class = "row">
                <div class = "col-lg-3">
                    <a th:href = "@{/cancion/new}" class = "btn btn-primary btn-sm mb-3"> Añadir Cancion</a>
                </div>
            </div>
            <table class = "table table-striped table-bordered">
                <thead class = "table-info">
                    <tr>
                        <th> Cancion ID </th>
                        <th> Cancion Título </th>
                        <th> Cancion Artista </th>
                        <th> Cancion Duración en Segundos </th>
                        <th> Cancion Año Publicación </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <!-- Implementación de los atributos de los canciones -->
                <tbody>
                     <tr th:each = "cancion: ${canciones}">
                        <td th:text = "${cancion.id_cancion}"></td>
                        <td th:text = "${cancion.titulo}"></td>
                        <td th:text="${cancion.artista_cancion.id_artista + ' - ' + cancion.artista_cancion.nombre_artista}"></td>
                        <td th:text = "${cancion.duracion_seg}"></td>
                        <td th:text = "${cancion.anio_publicacion}"></td>
                        <td>
                            
                            <a th:href = "@{/cancion/estadistica/{id}(id=${cancion.id_cancion})}"
                               class = "btn btn-primary">Estadísticas</a>
                               
                            <a th:href = "@{/cancion/edit/{id}(id=${cancion.id_cancion})}" 
                                class = "btn btn-primary">Update</a>
                            
                            <a th:href = "@{/cancion/{id}(id=${cancion.id_cancion})}" 
                                class = "btn btn-danger">Delete</a>
                                    
                        </td>
                    </tr>
                </tbody>
            
            </table>
            
        </div>




</body>
</html>